<h1><%=name.first %> <%= name.last %></h1>

<form>
	<fieldset>
		<legend>Standard Information</legend>
		<div id="standard">
		
		</div>
	</fieldset>
	<fieldset>
		<legend>Additional Information</legend>
		<div id="custom">
			<div class="editable">
				
			</div>	
		</div>
		<a href="" id="addnew">Add</a>
	</fieldset>
	<div class="editable">
		<div class="view">
		  	<input id="modify" type="submit" value="Edit"/>
		</div>
		<div class="edit">
		  	<input id="save" type="submit" value="Save"/>
		  	<input id="cancel" type="submit" value="Cancel"/>
		</div>			
	</div>
</form>