<h1><%=name.first %> <%= name.last %></h1>

<form>
	<fieldset>
		<legend>Standard Information</legend>
		<div class="editable">
			<div id="standard">
				
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Additional Information</legend>
		<div class="editable">
			<div id="custom">
			</div>
			<button id="addnew" class="edit">Add</button>
		</div>
	</fieldset>
	<div class="editable">
		<div class="view">
		  	<input class="modify" type="submit" value="Edit"/>
		</div>
		<div class="edit">
		  	<input class="save" type="submit" value="Save"/>
		  	<input class="cancel" type="submit" value="Cancel"/>
		</div>			
	</div>
</form>